<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="image.css">
</head>
<body>
  <div class="main-container">
   <div class="star">
    <img src="star.png">
    <img src="star.png">
    <img src="star.png">
    <img src="star.png">
    <img src="star.png">

   </div>
   <h4 class="amazing">Amazing Work!</h4>
   <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet....</p>
    <div class="image-row">
       <img src="Profile.png">
       <div class="name-column">
       <h4 class="name">Tiana Philips</h4>
       <p class="post">Photographer</p>
       </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <div class="image-class">
  <div class="E-commerce">
    <img src="webdev.png" >
    <h4 class="Web-dev">web development</h4>
    <p class="blog">blog, e-commerce</p>
  </div>
  <div class="E-commerce">
    <img src="game-development.png" >
    <h4 class="Web-dev">game design</h4>
    <p class="blog">Character Design, Props & Objects</p>
  </div>
  <div class="E-commerce">
    <img src="UIUX.png" >
    <h4 class="Web-dev">uI/uX design</h4>
    <p class="blog">Mobile app, website design</p>
  </div>
  </div>
</body>
</html>

