* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.yicha{
  display :flex;
  margin-right:  20px;
  justify-content:flex-end;
  
}
.yicha-one{
  display:flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

position: absolute;
width: 266px;
height: 960px;
left: -0.49px;
top: 0px;

background: #FFFFFF;
border-right: 2px solid #F6F6F6;

}
.yichapara{
  width: 107px;
height: 36px;
left: 43.69px;
top: 23px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
background: linear-gradient(91.67deg, #930FFC 4.83%, #9B7CDC 103.32%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}
.yicha-one-grandchild2{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:10px;
}
.image{
  gap:10px;

}
.yicha-one-child3{
  background: linear-gradient(91.67deg, #930FFC 4.83%, #9B7CDC 103.32%);
border-radius: 20px;
width: 233px;
height: 215px;
left: 16.01px;
top: 725px;
}
.Subs{
width: 160px;
height: 31px;
left: 55.01px;
top: 755px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 31px;
color: #FDF6FF;
}
.explore{
  width: 176px;
height: 40px;
left: 44.01px;
top: 798px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #FDF6FF;
}
.upgrade{
 width: 162px;
height: 44px;
left: 51.01px;
top: 866px;
background: #FFFFFF;
border-radius: 12px;
}
.upgradeone{
  width: 92px;
height: 17px;
left: 86.01px;
top: 880px;
text-align: center;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #2E2E2E;
}
.yicha-one-child3{
  display :flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}
.yicha-two-child1{
display:flex;

 gap: 100px;
width: 1442px;
height: 80px;
left: -2.49px;
margin-top: 20px;

background: #FFFFFF;
}
.grandchild1{
  display:flex;
  /* flex-direction: column; */
 
}
.sister1{
  display: flex;
  align-items: center;
  gap: 262px;
  width: 359px;
height: 46px;
left: 678.88px;
top: 17px;

background: #F9F9F9;
border-radius: 10px;
}
.sister2{
  display:flex;
  gap: 15px;
  width: 75px;
height: 17px;
left: 331.94px;
top: 31.5px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #373737; 
}
.grandchild3{
  display:flex;
  gap:50px;
}
.sister3{
  display:flex;
  gap:5px;   
}
.grandchild21-sister211{
  display: flex;
  flex-direction: column;
}
.sister211{
  display :flex;
}
.sister2111{
  display:flex;
 
  gap: 10px;
  box-sizing: border-box;
  width: 375.04px;
height: 59.81px;
left: 305px;
top: 133.31px;

background: #FFF5E0;
border-radius: 8px;
}
.email1{
  display :flex;

}