<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="training.css">
</head>
<body>
  <div class="container-main">
  <div class="item-1">
    <div class="item1-1"> 
  <h4 class="web">
    Web developer courses
  </h4>

</p>
</div>
<div class="item1-2">
  <div class="item1-2-1">
    <p class="student">
      Student
    </p>
  </div>
  <div class="item1-2-2">
     <p class="date">
       Jan 1016 - Dec 2021
    </p>

</div>
</div>
</div>
<div class="item2">
<div class="item2-1"> 
  <h4 class="certificate">
    Certificate of web training
  </h4>

</p>
</div>
<div class="item2-2">
  <p class="contain">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.
    </p>

</div>

  </div>
  </div>
</body>
</html>