<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="price.css">
</head>

<body>
  <div class="price">
    <div class="price1">
      <h2 class="priceplan">Price plans</h2>
      <p class="pricepara">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. lorem ipsum</p>
    </div>
    <div class="price2">
      <div class="price2-1">
       <p>Silver</p>
       <div class="dollor">
        <h3>$0.00</h3> 
        <p>/hour</p>
       </div>
       <div>
        <p>For most businesses that want to
          optimize web queries</p>
       </div>
       <div class="UI">
        <img src="tick.png">
        <p>UI Design</p>
       </div>
       <div class="web">
        <img src="tick.png">
        <p>web development</p>
       </div>
       <div class="logo">
        <img src="cross.png">
        <p>logo design</p>
       </div>
       <div class="seo">
        <img src="cross.png">
        <p>seo optimization</p>
       </div>
       <div class="wordPress">
        <img src="cross.png">
        <p>wordPress integration</p>
       </div>
       <div class="5">
        <img src="cross.png">
        <p>5 Websites</p>
       </div>
       <div class="unlimited">
        <img src="cross.png">
        <p>unlimited user</p>
       </div>
       <div class="20">
        <img src="cross.png">
        <p>20 gB bandwith</p>
       </div>
       <button class="price">ORDER NOW</button>
       </div>
           
      </div>

      <div class="price2-2">
      </div>

      <div class="price2-3">
      </div>
    </div>
  </div>

</body>

</html>