*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.price1{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
 
 margin: auto;
}
.pricepara{
  margin-top: 15px;
}
body{
  background-color: aliceblue;
}
.price2-1{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #FFFFFF;


  
}
.price2-2{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #FFFFFF;
  margin-left: 21px;
 
}
.popular{
  display:flex;
  justify-content: center;
  background-color: #FFB400;
  font-size: 15px;
  text-transform: capitalize;
}
.price2-3{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: #FFFFFF;

  
}
.item2-1-3{
  display: flex;
  gap: 18px;
}
.item2-2{
  display :flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 31px;

}
.dollor{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.price2{
  display :flex;
  margin-left: 20px;
  justify-content: center;

  
  align-items: center;
  width: 310px;
  height: 609px;
  left: 335px;
  top: 1512px;
 
 
}
.silver{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
}
.para2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price{
  display :flex;
  flex-direction: column;
  align-items: center;
}
.para2{
  display:flex;
  align-items: center;
  justify-content: center;
  
  margin: left 31px;right: 31px;top:8px;
}
.para2-1{
  word-wrap: inherit;
  
}
.order2-1-button{
  border: 0.5px solid #FAFAFA;
  border-radius: 30px;
  left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
margin-top: 21px;
left: 24.26%;
right: 24.26%;
top: 28.95%;
bottom: 26.32%;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: capitalize;
color: #2B2B2B;
 
  
}
.order2-2-button{
  border: 0.5px solid #FAFAFA;
  border-radius: 30px;
  left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background:#FFB400;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
margin-top: 21px;
left: 24.26%;
right: 24.26%;
top: 28.95%;
bottom: 26.32%;


font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: capitalize;
color: #2B2B2B;
}
body{
  background-color: #E5E5E5; 
}