<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- This section related to form -->
<section id="form" class="flex gap-[30px] w-full bg-[#E5E5E5]">
  <div class="flex flex-col  " id="info">
    <h2 class="w-[289px] h-[40px] font-[700] text-[32px] leading-[123.6%] text-[#2B2B2B]">Leave us your info</h2>
    <form class="flex flex-col mt-[50px] bg-[#FFFFFF] w-[570px] h-[665px]  ">
      <label class="mt-[25px] mb-[8px] ml-[25px]" for="user">Your Full Name ( Required)</label>
      <input id="user" type="text" class="bg-[#F0F0F6] w-[521px] h-[50px] ml-[25px]">
      <label class="mt-[25px] mb-[8px] ml-[25px]" for="email">Your Email ( Required)</label>
      <input id="email" type="text" class="bg-[#F0F0F6] w-[521px] h-[50px] ml-[25px]">
      <label class="mt-[25px] mb-[8px] ml-[25px]" for="subject">Subject</label>
      <input id="subject" type="text" class="bg-[#F0F0F6] w-[521px] h-[50px] ml-[25px]">
      <label class="mt-[25px] mb-[8px] ml-[25px]" for="message">Your Message</label>
      <textarea id="message" class="bg-[#F0F0F6] w-[521px] h-[210px] ml-[25px]">
        </textarea>
      <input
        class="bg-[#FFB400] text-left w-[159px] h-[35px] text-[14px] font-[600] text-[#2B2B2B] px-[24px] mt-[25px] mb-[25px] ml-[25px]"
        type="submit" value="Send message">
    </form>

  </div>
  <div class="flex flex-col " id="contact">
    <h2 class=" w-[315px] h-[40px] font-[700] text-[32px] leading-[123.6%] text-[#2B2B2B]">Contact information</h2>
    <div class="grid grid-rows-3 mt-[50px] gap-[18px]">
      <div class="w-[370px] h-[210px] bg-[white]">
        <div class=" flex justify-center items-center  ">
          <div class="flex w-[40px] h-[40px] rounded-full bg-[#FFB400] justify-center items-center mt-[25px]"><img
              class="w-[15px] h-[15px]  " src="/component/image11/secondcol/form/1.png">
          </div>
        </div>
        <div class="flex justify-center items-end gap-[150px] mt-[31px]">
          <div class=" font-[500] text-[18px] mb-[15px] leading-[123.6%] text-[#767676] gap-[16px]">
            <h4>Country:</h4>
            <h4 class="mt-[16px] mb-[16px]">City:</h4>
            <h4>Streat:</h4>
          </div>
          <div class=" font-[400] text-[15px] leading-[24px] text-[#767676] text-right gap-[16px] mb-[15px]">
            <p>Bangladesh</p>
            <p class="mt-[16px] mb-[16px]">Dhaka</p>
            <p>35 vhatara, Badda</p>
          </div>
        </div>

      </div>

      <div class="w-[370px] h-[210px] bg-[white]">
        <div class=" flex justify-center items-center  ">
          <div class="flex w-[40px] h-[40px] rounded-full bg-[#FFB400] justify-center items-center mt-[25px]"><img
              class="w-[15px] h-[15px]  " src="/component/image11/secondcol/form/2.png">
          </div>
        </div>
        <div class="flex justify-center items-end gap-[106px] mt-[31px]">
          <div class=" font-[500] text-[18px] mb-[15px] leading-[123.6%] text-[#767676] gap-[16px]">
            <h4>Email:</h4>
            <h4 class="mt-[16px] mb-[16px]">Skype:</h4>
            <h4>Telegram:</h4>
          </div>
          <div class=" font-[400] text-[15px] leading-[24px] text-[#767676] text-right gap-[16px] mb-[15px]">
            <p>Byouremail@gmail.com</p>
            <p class="mt-[16px] mb-[16px]">@yourusername</p>
            <p>@yourusername</p>
          </div>
        </div>

      </div>

      <div class="w-[370px] h-[210px] bg-[white]">
        <div class=" flex justify-center items-center  ">
          <div class="flex w-[40px] h-[40px] rounded-full bg-[#FFB400] justify-center items-center mt-[25px]"><img
              class="w-[15px] h-[15px]  " src="/component/image11/secondcol/form/3.png">
          </div>
        </div>
        <div class="flex justify-center items-end gap-[40px] mt-[31px]">
          <div class=" font-[500] text-[18px] mb-[15px] leading-[123.6%] text-[#767676] gap-[16px]">
            <h4>Support services:</h4>
            <h4 class="mt-[16px] mb-[16px]">Office:</h4>
            <h4>Personal:</h4>
          </div>
          <div class=" font-[400] text-[15px] leading-[24px] text-[#767676] text-right gap-[16px] mb-[15px]">
            <p>15369</p>
            <p class="mt-[16px] mb-[16px]">+58 (021)356 587 235</p>
            <p>+58 (021)356 587 235</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

  </body>

</html>