<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="index.css" />
</head>
<body class="bg-[yellow]">
  <div id="languages" class="flex flex-col w-[305px] ml-[40px] px-[45px]  bg-slate-50">
    <h4 style="font-size: 18px; font-weight: 500">Languages</h4>
    <div id="bangla">
      <div class="ban ">
        <div class="flex  justify-between"><p>Bangla</p> <p>100%</p></div>
        <div class="  w-[220px] h-[4px] border-[0.5px] border-solid rounded-[30px] border-[#FFB400] mb-[10px]">
          <div class="w-[210]   h-[1px] bg-[#FFB400]"></div>
        </div>
      </div>
      
      </div>
    </div>
    <!-- <div class="english">
      <div class="bangla1">
        <p>English</p>
        <p>80%</p>
      </div>
      <div class="progress-bar">
        <div class="english2 eng"></div>
      </div>
    </div>
    <div class="spanish">
      <div class="bangla1">
        <p>Spanish</p>
        <p>60%</p>
      </div>
      <div class="progress-bar">
        <div class="english2 span"></div>
      </div> -->
    </div>
  </div>
</body>
</html>