<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="WorkHistory" class="w-[970px] h-[1195px]">
    <div class="flex flex-col   ">
      <h2 class="ml-[415px] mr-[315px] font-[700] text-[32px]  leading-[123.6%] text-[#2B2B2B]">Portfolio</h2>
      <p class=" w-[438px] h-[68px] mt-[25px] mb-[50px] ml-[266px] mr-[266px] font-[400] text-[15px] leading-[24px] text-[#767676] text-center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
    </div>
      <div class="flex gap-[37px] item-center justify-center font-[500] text-[18px] leading-[123.6%]">
      <h4 class="text-[#FFB400]">All categories</h4>
      <h4>UI Design</h4>
      <h4>UI Design</h4>
      <h4>Logo</h4>
      <h4>Branding</h4>
    </div> 
    <div class="grid grid-cols-3 gap-[20px] mt-[50px]">
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image1.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image2.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image3.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image4.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image5.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image6.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image7.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image8.png" ></div>
     <div><img class="w-[310px] h-[300px]" src="/component/image11/secondcol/protfolio1/Image9.png" ></div>
    </div>
    
    </div>
</body>
</html>