<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="about.css">
</head>
<body>
  <div class="about">
    <div class="age">
      <p class="item">Age:</p>
      <p class="item-right">24</p>
    </div>
    <div class="age">
      <p class="item">Residence:</p>
      <p class="item-right">BD</p>
    </div>
    <div class="age">
      <p class="item">Freelance:</p>
      <p class="item-right green">Available</p>
    </div>
    <div class="age">
      <p class="item">Address:</p>
      <p class="item-right">Dhaka,Bangladesh</p>
    </div>

  </div> 
  

  </div>
  
</body>
</html>