<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="Education" class="flex flex-col  w-[970] h-[815px] ">
    <div class="flex flex-col  ">
      <h2 class="ml-[415px] mr-[315px] font-[700] text-[32px] leading-[123.6%] text-[#2B2B2B]">Education</h2>
      <p class=" w-[438px] h-[68px] mt-[25px] mb-[50px] ml-[266px] mr-[266px] font-[400] text-[15px] leading-[24px] text-[#767676] text-center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
    </div>
    <div class="flex flex-col">
      <div id="a" class="flex gap-[184px] ml-[37px] border-b-[1.5px] py-[10px]" >
        <div><h4 class="mt-[51px] font-[500] text-[18px] leading-[123.6%]">University of Toronto</h4> <div class="flex gap-[21px] mt-[25px]"> <p>Student</p> <p class=" w-[111] h-[18] rounded-[1px] bg-[#FFB400] text-[10px] text-[#FFFFFF] font-[400] leading-[100.9%] text-center">Jan 1016 - Dec 2021</p></div>
      </div>
      <div class="mt-[47px]"><h4 class="font-[500] text-[18px] leading-[123.6%] text-[#2B2B2B]  ">Certificate of web training</h4><p class="font-[400] text-[15px] leading-[24px] w-[536px] text-[#767676] h-[100px] mt-[25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.</p></div>
      </div>
      <div id="b" class="flex gap-[184px] ml-[37px] border-b-[1.5px] py-[10px]" >
        <div><h4 class="mt-[51px] font-[500] text-[18px] leading-[123.6%]">University of Toronto</h4> <div class="flex gap-[21px] mt-[25px]"> <p>Student</p> <p class=" w-[111] h-[18] rounded-[1px] bg-[#FFB400] text-[10px] text-[#FFFFFF] font-[400] leading-[100.9%] text-center">Jan 1016 - Dec 2021</p></div>
      </div>
      <div class="mt-[47px]"><h4 class="font-[500] text-[18px] leading-[123.6%] text-[#2B2B2B]  ">Certificate of web training</h4><p class="font-[400] text-[15px] leading-[24px] w-[536px] text-[#767676] h-[100px] mt-[25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.</p></div>
      </div>
      <div id="c" class="flex gap-[184px] ml-[37px] border-b-[1.5px] py-[10px]" >
        <div><h4 class="mt-[51px] font-[500] text-[18px] leading-[123.6%]">University of Toronto</h4> <div class="flex gap-[21px] mt-[25px]"> <p>Student</p> <p class=" w-[111] h-[18] rounded-[1px] bg-[#FFB400] text-[10px] text-[#FFFFFF] font-[400] leading-[100.9%] text-center">Jan 1016 - Dec 2021</p></div>
      </div>
      <div class="mt-[47px]"><h4 class="font-[500] text-[18px] leading-[123.6%] text-[#2B2B2B]  ">Certificate of web training</h4><p class="font-[400] text-[15px] leading-[24px] w-[536px] text-[#767676] h-[100px] mt-[25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et pellentesque. Molestie risus enim neque eget dui.</p></div>
      </div>
    </div>
  </div>
  
</body>
</html>