<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="Logo" class="flex  mt-[93] mb-[92px] justify-between">
    <img src="/component/image11/secondcol/footer/Group 241.png" >
    <img src="/component/image11/secondcol/footer/Group2.png" >
    <img src="/component/image11/secondcol/footer/Group3.png" >
    <img src="/component/image11/secondcol/footer/Group4.png" >
  </div>
</body>
</html>