<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main1.css">
</head>
<body>
<div class="main1">
  <div class="item-main1">
  <img src="Profile (1).png"> 
  <img src="Available.png">
  </div>
  <div>
    <h4>Rayan Adlardard</h4>
    <p>Font-end Developer</p>
  </div>
  <div class="icon">
    <div class="icon1 background"><img src="f.png"></div>
    <div class="icon2 background"><img src="oo.png"></div>
    <div class="icon3 background"> <img src="twiter.png"></div>
    <div class="icon4 background"><img src="in.png"></div>
    <div class="icon5 background"><img src="youtube.png"></div>
    <div class="icon6 background"><img src="ball.png"></div> 
  </div>
  <div class="about">
    <div class="age">
      <p class="item">Age:</p>
      <p class="item-right">24</p>
    </div>
    <div class="age">
      <p class="item">Residence:</p>
      <p class="item-right">BD</p>
    </div>
    <div class="age">
      <p class="item">Freelance:</p>
      <p class="item-right green">Available</p>
    </div>
    <div class="age">
      <p class="item">Address:</p>
      <p class="item-right">Dhaka,Bangladesh</p>
    </div>

  </div>
  <div class="container1">
    <div class="languages">
      <h4 style="font-size: 18px; font-weight: 500;">Languages</h4>
      <div class="bangla">
        <div class="bangla1">
          <p>Bangla</p>
          <p>100%</p>
        </div>
        <div class="progress-bar">
          <div class="english2 ban">
          </div>
          </div>
      </div>
      <div class="english">
        
        <div class="bangla1">
          <p>English</p>
          <p>80%</p>
        </div>
        <div class="progress-bar">
        <div class="english2 eng">
        </div>
        </div>
      </div>
      <div class="spanish">
        <div class="bangla1">
          <p>Spanish</p>
          <p>60%</p>
        </div>
        <div class="progress-bar">
          <div class="english2 span">
          </div>
          </div>
      </div>
    </div>
    <div class="Skills">
      <h4 style="font-size: 18px; font-weight: 500;">Skills</h4>
      <div class="Html">
        <div class="bangla1">
          <p>Html</p>
          <p>90%</p>
        </div>
        <div class="progress-bar">
          <div class="english2 html">
          </div>
          </div>
      </div>
      <div class="CSS">
        
        <div class="bangla1">
          <p>CSS</p>
          <p>85%</p>
        </div>
        <div class="progress-bar">
        <div class="english2 css">
        </div>
        </div>
      </div>
      <div class="Js">
        <div class="bangla1">
          <p>Js</p>
          <p>80%</p>
        </div>
        <div class="progress-bar">
          <div class="english2 eng">
          </div>
          </div>
      </div>
      <div class="PHP">
        
        <div class="bangla1">
          <p>PHP</p>
          <p>75%</p>
        </div>
        <div class="progress-bar">
        <div class="english2 php">
        </div>
        </div>
      </div>
      <div class="WordPress">
        
        <div class="bangla1">
          <p>WordPress</p>
          <p>85%</p>
        </div>
        <div class="progress-bar">
        <div class="english2 css">
        </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</body>
</html>