<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div id="recomdation"> 
    <div class="text-center ]">
      <h2 class="mb-[20px] mt-[10px]">Recommendations</h2>
      <p class="mb-[25px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
    </div>
    <div class="grid grid-cols-3 gap-[27px] ">
      <div class="bg-[#FFFFFF] ml-[23px] mr-[25px]">
      <div class="flex ">
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
      </div>
      <div><h2 class="font-500 text-[18px] leading-[22.25px]">Great Quality!</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet....</p>
      </div>
      <div class="flex">
        <div><img src="/component/image11/secondcol/recomdation/Profile1.png" ></div>
        <div ><h4>James Gouse</h4><p>James Gouse</p> </div>
      </div>

     
    </div>
    <div class="bg-[#FFFFFF] ml-[23px] mr-[25px]">
      <div class="flex ">
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
      </div>
      <div><h2 class="font-500 text-[18px] leading-[22.25px]">Great Quality!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet....</p>
      </div>
      <div class="flex">
        <div><img src="/component/image11/secondcol/recomdation/Profile1.png" ></div>
        <div ><h4>James Gouse</h4><p>James Gouse</p> </div>
      </div>

     
    </div>
    <div class="bg-[#FFFFFF] ml-[23px] mr-[25px]">
      <div class="flex ">
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
        <img  class="w-[18px] h-[17.37px]"  src="/component/image11/secondcol/recomdation/star.png" >
      </div>
      <div><h2 class="font-500 text-[18px] leading-[22.25px]">Great Quality!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. Morbi donec amet....</p>
      </div>
      <div class="flex">
        <div><img src="/component/image11/secondcol/recomdation/Profile1.png" ></div>
        <div ><h4>James Gouse</h4><p>James Gouse</p> </div>
      </div>

     
    </div>
  </div>
  <div class="flex item-center justify-center gap-[10px] mt-[50px]"> 
    <img class="w-[10px] h-[10px]"src="/component/image11/secondcol/recomdation/yellow dot.png"  >
    <img class="w-[10px] h-[10px]"src="/component/image11/secondcol/recomdation/yellow dot.png"  >
    <img class="w-[10px] h-[10px]"src="/component/image11/secondcol/recomdation/yellow dot.png"  >
  </div>
</div>
</body>
</html>