<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="index.css" />
</head>
<style>
  p.fontsmall {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #767676;
  }
  .headersmall {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    color: #2B2B2B;
  }
  </style>
<body>
  <div id="whole" class="flex justify-between">
  <section id="left" class="flex flex-col gap-[25px] justify-center items-center bg-white h-full w-[25%]  ">
    <!-- This is from left section1-subsection1 -->
   <div class="flex flex-col items-center border-b-[1.5px]">
     <div class="relative ">
       <div>
         <img src="/component/Image/main website/Profile (1).png" />
       </div>
       <img class="absolute w-[16px] h-[16px] bottom-[13%] left-[89%] bg-[#7EB942] rounded-full"
         src="/component/Image/Available.png" />
     </div>
     <div class="m-[2px]">
       <h4 class="headersmall">Rayan Adlardard</h4>
       <p class="fontsmall">Font-end Developer</p>
     </div>
     <div class="flex flex-row m-3 mb-[25px]">
       <div class="flex items-center justify-center bg-amber-500 m-1 p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/f.png" />
       </div>
       <div class="flex items-center justify-center bg-amber-500 m-1 p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/oo.png" />
       </div>
       <div class="flex items-center justify-center bg-amber-500 m-1 p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/twiter.png" />
       </div>
       <div class="flex items-center justify-center bg-amber-500 m-1 p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/in.png" />
       </div>
       <div class="flex items-center justify-center bg-amber-500 m-1 p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/youtube.png" />
       </div>
       <div class="flex items-center justify-center bg-amber-500 m-[1px] p-1 w-6 h-6 rounded-3xl">
         <img src="/component/Image/main website/ball.png" />
       </div>
     </div>
     
   </div>
    <!-- This is from left section1-subsection2 -->
    <div class="flex justify-between w-[305px] px-[40px] mt-[26px] mb-[25px]">
    
      <div class="  flex flex-col gap-y-[9px]">
        <p class="fontsmall bg-[#FFB400] px-[2px] w-[46px] h-[24px]">Age:</p>
        <p  class="fontsmall bg-[#FFB400] px-[2px] w-[78px] h-[24px]">Residence:</p>
        <p  class="fontsmall bg-[#FFB400] px-[2px] w-[74px] h-[24px]">Freelance:</p>
        <p  class="fontsmall bg-[#FFB400] px-[2px] w-[63px] h-[24px]">Address:</p>
      </div>
      <div class="flex flex-col items-end gap-y-[9px]">
        <p  class="fontsmall">24</p>
        <p  class="fontsmall">BD</p>
        <p  class="fontsmall "><span class="text-[#7EB942]">Available</span></p>
        <p  class="fontsmall">Dhaka,Bangladesh</p>
      </div>
    </div>
   <!-- This is from left section1-subsection3 -->
   <div id="languages" class="w-[305px] flex   flex-col  px-[40px]  ">
    <h4 class="headersmall">Languages</h4>
    <div id="bangla" class=" mt-[15px]">
      <div class=" flex justify-between w-[100%]    ">
        <p class="p.fontsmall">Bangla</p>
        <p class="p.fontsmall">100%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[100%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="English" class="mt-[10px]">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">English</p>
        <p class="p.fontsmall">80%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[80%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="Spanish" class="mt-[10px] mb-[26px]">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">Spanish</p>
        <p class="p.fontsmall">60%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[60%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <border class="border-b-[1.5px] border-[#F0F0F6]"></border>
  </div>
   <!-- This is from left section1-subsection4 -->
   <div id="skills" class="w-[305px] flex   flex-col  px-[40px] mt-[25px] ">
    <h4 class="headersmall">Skills</h4>
    <div id="bangla" class=" mt-[15px]">
      <div class=" flex justify-between w-[100%]    ">
        <p class="p.fontsmall">Html</p>
        <p class="p.fontsmall">90%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[90%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="CSS" class="mt-[10px]">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">CSS</p>
        <p class="p.fontsmall">85%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[85%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="Js" class="mt-[10px] ">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">Js</p>
        <p class="p.fontsmall">80%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[80%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="PHP" class="mt-[10px] ">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">PHP</p>
        <p class="p.fontsmall">75%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[75%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <div id="WordPress" class="mt-[10px] mb-[26px]">
      <div class=" flex justify-between w-[100%]     ">
        <p class="p.fontsmall">WordPress</p>
        <p class="p.fontsmall">85%</p>
      </div>
      <div id="progress-bar"
        class=" flex  items-center w-[100%] h-[6px] rounded-[30px]  border-[0.5px] border-[#FFB400] mt-[6px] ">
        <div class="w-[85%] h-[2px] rounded-[30px] bg-[#FFB400] mb-[1px] mt-[1px] "></div>
      </div>
    </div>
    <border class="border-b-[1.5px] border-[#F0F0F6]"></border>
  </div>
   <!-- This is from left section1-subsection5 -->
   <div id="extraskill" class=" px-[40px] mt-[25px]  w-[305px]">
    <h4 class="headersmall">Extra Skills</h4>
    <div class="flex flex-col">
      <div class="flex gap-x-[15px] items-center mt-[15px]">
        <img class="w-[15px] h-[15px]" src="/component/Image/doublesquare.png" />
        <p class="fontsmall">Bootstrap, Materialize</p>
      </div>
      <div class="flex gap-x-[15px] items-center">
        <img class="w-[15px] h-[15px]" src="/component/Image/doublesquare.png" />
        <p class="fontsmall">Bootstrap, Materialize</p>
      </div>
      <div class="flex gap-x-[15px] items-center">
        <img class="w-[15px] h-[15px]" src="/component/Image/doublesquare.png" />
        <p class="fontsmall">Bootstrap, Materialize</p>
      </div>
      <div class="flex gap-x-[15px] items-center">
        <img class="w-[15px] h-[15px]" src="/component/Image/doublesquare.png" />
        <p class="fontsmall">Bootstrap, Materialize</p>
      </div>
    </div>
    <border class="border-b-[1.5px] border-[#F0F0F6]"></border>
  
 <button class="flex items-center justify-center gap-[6%] border-2 bg-amber-500 w-[85%] my-[25px] ">
    <p>Download CV</p>
    <img class="w-[11px] h-[12px]" src="/component/Image/download1.png" />
  </button> 
</div>
 </section>
  </div>
</body>
</html>